* {
    box-sizing: border-box;
    margin: 10px;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
}

/*navbar*/

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    overflow: hidden;
    background-color: #fff;
}

.right-nav ul {
    display: flex;
    list-style-type: none;
}

.left-nav ul {
    display: flex;
    list-style-type: none;
}

#navbar a {
    padding: 10px;
    text-decoration: none;
    color: hsl(257, 7%, 63%);
    font-weight: bold;
    font-size: 13px;
}

.left-nav ul .dif {
    font-size: 23px;
    font-weight: bolder;
    color: hsl(255, 11%, 22%)
}

/*Form*/
/* .container {
    height: 500px;
    max-width: 500px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
}

form {
   margin: 4px;
    padding: 1.0em;
    border-radius: 1em;
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: left;
}

img {
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.btn {
    background-color: rgb(95, 47, 141);
    color: white;
    font-size: 0.5;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    width: 60%;
    box-shadow: 0.8px 0.8px 0.8px #888;
    background-image: linear-gradient(purple yellow purple);
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8em;
    text-align: center;
}

#sign-in {
    align-items: center;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: white;

}

.no-outline:focus {
    outline: none;
}

.text {
    font-weight: normal;
    font-size: 0.8rem;
    padding-top: 20px;
} */