/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

.navbar {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */

.navbar.responsive {
  position: relative;
}

.navbar a .responsive {
  /* float: none; */
  display: block;
  text-align: center;
  background-color: hsl(257, 27%, 26%);
  color: white;
}
  

.navbar.responsive a.icon {
position: absolute;
right: 0;
top: 0;
background-color: white;
margin-bottom: 20px;
color: black;
}

.navbar.responsive a#active {
  text-align: left;
  display: inline;
  background-color: white;
}

.left-nav .right-nav {
  text-align: center;
  display: block;
  width: 100%;
  background-color: hsl(257, 27%, 26%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
} 

.navbar .right-nav .btn-primary {
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 20px;
  background-color: hsl(180, 66%, 49%);
}

.features {
  margin-top: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


/* MAIN CONTENT OF THE PAGE  */
.main-content {
  margin-top: 50px;
  flex-direction: column-reverse;
  padding: 20px;
  overflow: hidden;
}

.info-description br {
content: ' ';
}

.info {
  text-align: center;
  width: 100%;
  align-items: center;
}

.statistics-paragraph br{
  content: ' ';
}

.info h1.info-heading {
  font-size: 4rem;
  padding-top: 1rem;
}

.info .info-description {
  text-align: center;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2.3rem;
  border-radius: 200px;
  border: none;
}

/* url form */
.url-form {
  display: block;
}

.url-input {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 2.5rem;
  border-radius: 5px;
  border: 0;
  width: 100%;
}

.url-form{
flex-direction: column;
}

.btn-secondary {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 2.5rem;
  width: 100%;
}

/* statistics boxes */
.box p {
  font-size: 1.1rem;
  line-height: 15px;
  text-align: center;
}

.statistics-info{
  padding: 2rem 0;
}

.statistics-box {
  display: flex;
  flex-direction: column;
justify-content: space-around;
}
  /* align-items: center; */
  /* justify-content: center; */

.icon {
  top: -20px;
  left: 100px;
  color:black;  
}

.sub-heading {
  text-align: center;
}

.records-box-container {
  padding-top: 0px;
}

.customizable-container {
  padding-top: 0px;
}

footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

footer .footer {
  align-items: center;
}

footer .icons {
  padding-top: 40px;
}

footer .footer a:first-child {
  padding-top: 40px;
}



.social-media-logo {
  display: inline-block;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: center;
}


/* Resources */
#home-articles .articles-container {
  grid-template-columns: 1fr;
}

