:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;

}

/*page container*/

.container {
  width: 85%;
  margin: 0px auto;
}

/*page-header & navbar*/

.page-header {
  /* padding: 2rem; */
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  width:100%;
  overflow: hidden;
} */

.navbar {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  /* padding-right: 5%; */
  /* padding-left: 10%; */
}

/* .navbar a {
  text-decoration: none;
  color: hsl(257, 7%, 63%);
  transition: 0.2s;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  margin: 2rem;
  font-size: 1.3rem;
  font-weight: bolder;
} */

.navbar a {
  float: left;
  transition: 0.2s;
  display: block;
  color: hsl(257, 7%, 63%);
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bolder;  
}

.right-nav {
  cursor: pointer;
  /* padding: 8px 22px; */
  padding-right: 2%;
  border: none;
  /* background-color: hsl(180, 66%, 49%); */
  color: #fff;
  border-radius: 20px;
  font-weight: 500;
  /* margin-top: 7px; */
}
.right-nav{
  float:right;
}

.navbar a:hover {
  color: #222026;
}

.navbar a#active {
  padding-top: 14px;
  padding-left: 0;
}

.navbar .icon {
  display: none;
}

/*button*/
.btn {
  padding: 0 2.3rem;
  display: block;
  border-radius: 200px;
  border: none;
}

.btn-primary {
  background: #30d9c8;
  color: #fff !important;
}

.btn:hover {
  color: #fff;
  background-color: rgb(42, 207, 207, 0.8);
}
/*heading and description*/

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 9%; 
  /* background: url(/images/illustration-working.svg) no-repeat; */
  /*height: 60vh;*/
  /* background-position: right 0px; */
  /* background-size: 350px 250px; */
  /* position: relative; */
  max-width: 1350px;
}

.info {
  padding-top: 4rem;
}

.info h1.info-heading {
  font-size: 5rem;
  font-weight: bolder;
  padding-bottom: 0.8px;
}

.info .info-description {
  color: hsl(257, 7%, 63%);
  line-height: 30px;
  padding-bottom: 20px;
}

.info button {
  font-size: 1.3rem;
  padding: 0.7rem 2.3rem;
}


/*url container*/

.url-container {
  position: relative;
  top: 70px;
  padding: 30px;
  margin: auto;
  /*bottom: -35px;*/
  background-color: hsl(257, 27%, 26%);
  background-image: url(../images/bg-shorten-desktop.svg);
  border-radius: 6px;
  max-width: 1350px;
}

.url-form {
  display: flex;
  justify-content: space-between;
}

.url-input {
  padding: 15px 20px;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  width: 78%;
}

.btn-secondary {
  box-sizing: border-box;
  display: inline-block;
  border: 0;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 1.8rem;
  width: 20%;
  color: #fff;
  font-weight: bolder;
  background-color: #30d9c8;
}

/*statistics section*/

.statistics {
  background-color: aliceblue;
  padding-top: 120px;
  padding-bottom: 80px;
  line-height: 25px;
  max-width: 1350px;
  width: 100%;
}

.statistics h2 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 2.5rem;
  font-weight: bolder;
}

.statistics p.statistics-paragraph {
  text-align: center;
  font-size: 1.3rem;
  color: hsl(0, 0%, 75%);
}

/*statistics boxes*/

.statistics-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-heading {
  font-weight: bolder;
  font-size: 1.5rem;
  padding-top: 40px;
  padding-bottom: 20px;
}

/* brand,record and customizable boxes*/
.box {
  position: relative;
  justify-content: space-between;
}

.box p {
  font-size: 1.1rem;
  line-height: 15px;
}

.icon2 {
  position: absolute;
  top: -20px;
  left: 10px;
  padding: 10px;
  background-color: #414478;
  border-radius: 50%;
}

/*brand,record and customizable boxes*/

.brand-box {
  background-color: #fff;
  width: 250px;
  padding: 25px;
  border: 0px solid white;
  margin: 20px;
}

/*records-box*/

.records-box-container {
  padding-top: 50px;
}

.records-box {
  background-color: #fff;
  width: 250px;
  padding: 25px;
  border: 0px solid white;
  margin: 20px;
}

/*customizable box*/
.customizable-container {
  padding-top: 100px;
}

.customizable-box {
  background-color: #fff;
  width: 250px;
  padding: 25px;
  border: 0px solid white;
  margin: 20px;
}

/*boost your link*/
.boost-link-heading {
  font-size: 28px;
  font-weight: bolder;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.boost-your-link {
  background-color: hsl(257, 27%, 26%);
  background-image: url(../images/bg-boost-desktop.svg);
  align-items: center;
  justify-items: center;
  padding: 40px 0;
  max-width: 1350px;
}

.boost-link-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2.3rem;
  background: #30d9c8;
  color: #fff !important;
  border-radius: 200px;
  border: none;
}

/*footer*/
footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  background-color:hsl(260, 8%, 14%);
  padding: 50px;
}

footer .footer {
  display: flex;
  flex-direction: column;
}

footer .footer a {
  color: hsl(257, 7%, 63%);
  font-size: 14px;
  text-decoration: none;
  padding-bottom: 5px;
}

footer .footer a:hover {
  color: var(--cyan);
}

footer .footer a:first-child {
  /* background-color: white; */
  color: #fff;
  font-weight: 700;
  padding-bottom: 20px;
}

footer .social-media-logos a {
  color: #fff;
  padding-right: 5px;
}

footer .social-media-logos a:hover {
  color:hsl(180, 66%, 49%);
}
i {
  color: #fff;
}
/* URL INPUT STYLING */
small {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 40px;
  color: var(--red);
}

.input input::placeholder{
  color: var(--grayishViolet);
  font-size: 18px;
}

.input input.wrong::placeholder{
  color: var(--red);
}

.input input.wrong {
  border: 3px solid var(--red);
}

.input button {
  width: 30%;
  height: 60px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background-color: var(--cyan);
  cursor: pointer;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
}

.input button, .input input:focus {
  outline: none;
}

.input button:hover {
  background-color: rgb(42, 207, 207, 0.8);
}

.short-section {
  width: 100%;
  position: relative;
}

.shortLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 20px;
  font-weight: 300;
  margin: 15px 0;
  padding: 10px 20px;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  left: -10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.delete-btn:focus {
  outline: none;
}
.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  left: -10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.shortLink:hover .delete-btn {
  opacity: 1;
}

.shortLink .copy {
  display: flex;
}

.shortLink .copy button {
  cursor: pointer;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--cyan);
  color: #fff;
}

.shortLink .copy button:focus {
  outline: none;
}

.shortLink .copy input {
  color: var(--cyan);
  font-weight: 700;
  border: none;
  font-size: 18px;
}

.shortLink .copy input:focus {
  outline: none;
}